<% include ../partials/header %>


    <header class="jumbotron" id="jumb">
        <div class="container">
            <h1>Thomas Kelly Art Showcase</h1>
            <p>View all the artworks created by the young and talented artists in Thomas Kelly High School</p>
            <p>
                <a class="btn btn-white btn-animation-1" href="/artworks/new">Add New Artwork</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">

        <% artworks.forEach(function(artworks){ %>
        
            <div class='col-md-3 col-sm-6'>
                <div class="thumbnail">
                    <img src="<%= artworks.image %> " alt="">
                    <div class="caption">
                            <h4><%= artworks.name %></h4>
                    </div>
                    <p>
                        <a class='btn btn-primary' href="/artworks/<%= artworks._id %>">More Info</a>
                    </p>
                </div>
            </div>
            
        <%});  %>
    </div>   


<% include ../partials/footer %>
